* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 1px white solid;
}

.fixed {
    position: fixed;
    background-color: blue;
    padding: 10px;
    height: 100%;
    width: 250px;
}

.li {
    padding: 10px;
}

.div {
    padding: 30px;
    margin-left: 300px;
}